<div class="max-w-2xl mx-auto mt-10">

    <div class="text-center">
        <h1 class="text-center text-3xl">
            {{ link.name|default:"数据正在更新中" }}
        </h1>
        <div class="text-gray-500 my-3">
            用户数：{{ link.member_count }}
        </div>
        <div class="text-gray-500">
            {{ link.description|default:"数据正在更新中" }}
        </div>

        <!-- Component: Base primary basic button -->
        <a target="_blank" rel="nofollow" href="{{ link.url }}" class="mt-8 inline-flex items-center justify-center h-10 gap-2 px-5 text-sm font-medium tracking-wide text-white transition duration-300 rounded-full focus-visible:outline-none whitespace-nowrap bg-sky-500 hover:bg-sky-600 focus:bg-sky-700 disabled:cursor-not-allowed disabled:border-sky-300 disabled:bg-sky-300 disabled:shadow-none">
            <span>前往 Telegram</span>
        </a>
        <!-- End Base primary basic button -->
    </div>

</div>
