{% extends "layout/base.html" %}
{% load unicorn %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if saved_links %}
        <h3>已添加的URLs：</h3>
        <ul>
            {% for link in saved_links %}
                <li>{{ link.url }}</li>  <!-- 或者显示你想展示的任何其他字段 -->
            {% endfor %}
        </ul>
    {% endif %}
    {% if saved_object %}
        <p>
            添加成功：{{ saved_object.url|truncatechars:80 }}
            <a href="{% url 'ims:detail' saved_object.uuid %}" class="underline">
                查看
            </a>
        </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">提交</button>
    </form>
{% endblock %}
