{% load i18n %}
{% load static %}
{#{% load language_tags %}#}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}My Site{% endblock %}</title>
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">


    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link rel="stylesheet" href="{% static "css/messages.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.0/dist/alpine.js" defer></script>

    {% block extra_scripts %}{% endblock %}
</head>
<body>
<header class="bg-purple-500 shadow py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
        <!-- Logo -->
        <a class="flex-shrink-0 rounded-xl border-2 overflow-hidden" href="/">
            <img class="h-8 w-8" src="/static/logo/img.png" alt="Logo">
        </a>
        <!-- 加号按钮和添加文字 -->
        <div>
            <a href="{% url 'ims:add' %}" class="text-white hover:text-gray-300 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
                </svg>
                {% trans "Add" %}
            </a>
        </div>
    </div>
</header>

<main>
    {% block content %}
        <!-- 主要内容区域 -->
    {% endblock %}
</main>

<footer>
    {% include 'layout/_language.html' %}
</footer>
</body>
</html>
